body{
  margin: 50px;
}

form{
  border: 1px solid black;
  width: 500px;
  margin: auto;
  border-radius: 15px;
}

li{
  list-style: none;
  margin-top: 10px;
}

label{
  font-size: 20px;
}

input[type="submit"]{
  padding: 7px;
  font-size: 18px;
  border-radius: 5px;
}

p{
  margin: 5px;
}
