/* Pablo Ceballos Benitez */


/*Estilos Generales*/
body{
  margin: 50px;
}

/*Aplicamos estilos al formulario en global*/
form{
  border: 1px solid black;
  width: 450px;
  margin: auto;
  border-radius: 15px;
}

/*Aplicamos estilos a todas los elementos li*/
li{
  list-style: none;
  margin-top: 10px;
}

/*Aplicamos estilos a todos los elementos label*/
label{
  font-size: 20px;
}

/*Aplicamos estilos a todos los elementos "input" con atributo "Submit"*/
input[type="submit"]{
  width: 200px;
  padding: 7px;
  font-size: 18px;
  border-radius: 5px;
  margin-left: 80px;
}

#miSelect{
  margin-left: 10px;
  padding: 5px;
  font-size: 15px;
  border-radius: 5px;
}

#nombreActividad{
  width: 190px;
  margin-left: 10px;
  padding: 5px;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 5px;
}

/*Se aplica estilo al cuadrito del formulario "Etapas"*/
#etapas{
  width: 150px;
}

/*Se aplica estilos para mover el campo de la actividad de seccion*/
#actividadSeccion{
  position: relative;
  top: -80px;
  left: 200px;
  font-size: 18px;
}

/*Aplicar estilos al elemento "p" generado con php para mostrar los datos*/
p{
  margin: 5px;
}

/*Estilos para el titulo de los datos introducidos*/
h2{
  text-align: center;
}

/*Estilos para los datos introducidos a mostrar*/
.datos{
  color: darkblue;
}
